.pre-detail-container {
  display: flex;
  flex-flow: column;
  width: 100vw;

  background-color: #f5f2f2;

  .title {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: $grey;
    width: 100%;
    h1 {
      font-family: 'Prompt-Light';
      color: white;
      text-align: center;
      @media (max-width: $screen-xs-max) {
        font-size: 26px;
        padding: 10px;
      }
    }
  }

  .register-requirement {
    width: 70%;
    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
    margin: auto;
    padding: 40px;
    background-color: white;

    h3 {
      font-family: 'Prompt-Medium';
      color: $red;
      font-size: 26px;
      @media (max-width: $screen-xs-max) {
        font-size: 22px;
      }
      margin-top: 20px;
    }

    p {
      font-family: 'CSPraJad';
      margin-left: 20px;
      padding-top: 10px;
      color: $dark-grey;
      font-size: 16px;
      @media (max-width: $screen-xs-max) {
        font-size: 14px;
      }
    }

    span {
      color: $red;
    }
    .ps {
      color: $red;
    }
  }

  .checked-row {
    display: flex;
    align-items: center;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 10px;
    p {
      font-family: 'Prompt-Light';
      margin-left: 20px;
      color: $dark-grey;
      font-size: 16px;
      @media (max-width: $screen-xs-max) {
        font-size: 14px;
      }
    }
    .checkbox {
      margin-right: 5px;
      .ant-checkbox-input:focus + .ant-checkbox-inner {
        border-color: $red;
      }
      &:hover,
      &:focus {
        .ant-checkbox-inner {
          border-color: $red !important;
        }
      }
      .ant-checkbox-checked {
        &::after {
          border-color: $red;
        }
        .ant-checkbox-inner {
          border-color: $red;
          background-color: $red;
        }
        &:hover,
        &:focus {
          .ant-checkbox-inner {
            border-color: $red;
          }
        }
      }
    }
  }
  .warning {
    color: $red;
    margin: auto;
    margin-bottom: 10px;
    font-family: 'Prompt-Medium';
  }
  .register-btn {
    margin-top: 20px;
    margin: auto;
    margin-bottom: 40px;
    display: block;
    padding: 10px 40px;
    background-color: $red;
    border-radius: 30em;
    width: 150px;
    color: $red;
    background-color: transparent;
    font-family: 'Prompt-Light';
    border-color: $red;
    border-width: 2px;
    letter-spacing: 2px;
    transition: 0.2s;
    &:hover {
      background-color: $red;
      color: white;
      font-family: 'Prompt';
    }
  }
}

.register-form-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  background-color: #f5f2f2;

  h4 {
    padding-top: 50px;
    font-size: 36px;
    width: 100%;
    font-family: 'Prompt-Medium';
    color: $red;
    text-align: center;
    @media (max-width: $screen-xs-max) {
      font-size: 26px;
    }
  }

  form {
    margin-top: 20px;
    min-width: 60%;
    padding: 50px;
    background-color: white;
    display: flex;
    flex-flow: column;
    @media (max-width: $screen-xs-max) {
      min-width: calc(100% - 40px);
    }
  }
  .form-item {
    display: flex;
    flex-flow: row;
    margin-bottom: 16px;
    // @media (max-width: $screen-sm-max) {
    //   flex-flow: column;
    // }
    align-items: center;

    p {
      // @media (max-width: $screen-sm-max) {
      //   text-align: left;
      //   width: 100%;
      //   margin: 0;
      // }
      font-family: 'Prompt-Light';
      color: $dark-grey;
      text-align: left;
      width: 100%;
      margin: 0;
      //flex: 1;
      // text-align: right;
      // margin-right: 10px;
      span {
        color: $red;
      }
    }
    .form-input {
      //flex: 2;
      font-family: 'CSPraJad-Medium';
      width: 100%;
      color: $grey;
      &.ant-input {
        &:hover,
        &:focus {
          box-shadow: none;
          border-color: $red;
        }
      }
      .ant-select-selection {
        &:hover,
        &:focus {
          border-color: $red;
          box-shadow: none;
        }
      }
      &.ant-calendar-picker:hover
        .ant-calendar-picker-input:not(.ant-input-disabled) {
        border-color: $red;
      }
      &.ant-calendar-picker:focus
        .ant-calendar-picker-input:not(.ant-input-disabled) {
        border-color: $red;
        box-shadow: none;
      }
      .ant-input {
        &:hover,
        &:focus {
          box-shadow: none;
          border-color: $red;
        }
      }
    }
    .checkbox-col {
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      margin-left: 10px;
      margin-top: 5px;
      .checked-row {
        display: flex;
        align-items: center;
        .checkbox {
          margin-right: 5px;
          .ant-checkbox-input:focus + .ant-checkbox-inner {
            border-color: $red;
          }
          &:hover,
          &:focus {
            .ant-checkbox-inner {
              border-color: $red !important;
            }
          }
          .ant-checkbox-checked {
            &::after {
              border-color: $red;
            }
            .ant-checkbox-inner {
              border-color: $red;
              background-color: $red;
            }
            &:hover,
            &:focus {
              .ant-checkbox-inner {
                border-color: $red;
              }
            }
          }
        }
      }
    }
  }

  h6 {
    font-family: 'Prompt-Medium';
    text-align: center;
    color: $red;
    margin-top: 15px;
  }

  .error {
    color: $red;
    text-align: center;
  }

  .register-btn {
    align-self: center;
    margin-top: 20px;
    padding: 10px 40px;
    background-color: transparent;
    border-radius: 30em;
    color: $red;
    font-family: 'Prompt-Light';
    border-color: $red;
    border-width: 2px;
    letter-spacing: 2px;
    transition: 0.2s;
    &:hover {
      background-color: $red;
      color: white;
      font-family: 'Prompt';
    }
  }
}

.ant-select-dropdown {
  .ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
    background-color: rgba($light-red, 0.8);
  }
  .ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
    background-color: rgba($light-red, 0.8);
  }
}
.ant-calendar-selected-day .ant-calendar-date {
  background-color: rgba($light-red, 0.8);
}

.ant-calendar-today .ant-calendar-date {
  color: $red;
  border-color: $red;
}

.ant-calendar-selected-day .ant-calendar-date {
  background: rgba($light-red, 0.8);
}

.ant-calendar-date:hover {
  background: rgba($light-red, 0.5);
}
