.upload-phase-container {
  background-color: #f5f2f2;
  width: 100vw;
  .file-upload {
    border: 1px solid $red;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 5px 10px;
    color: $red;
    font-size: 14px;
    width: auto;
    border-radius: 4px;
    transition-duration: 0.3s;
    &:hover {
      color: white;
      background-color: $red;
      transition-duration: 0.3s;
    }

    i {
      margin-right: 5px;
    }
  }

  h4 {
    padding-top: 50px;
    padding-bottom: 25px;
    font-size: 36px;
    width: 100%;
    font-family: 'Prompt-Medium';
    color: $red;
    text-align: center;
    @media (max-width: $screen-xs-max) {
      font-size: 26px;
    }
  }

  .register-info {
    margin: 2% 5%;
    padding: 45px;
    @media (max-width: $screen-xs-max) {
      padding: 30px;
    }
    background-color: white;
    box-shadow: 3px 3px 3px $light-grey;

    .register-code {
      span {
        font-family: 'Prompt';
        color: $red;
        font-size: 18px;
        @media (max-width: $screen-xs-max) {
          font-size: 16px;
        }
      }

      font-family: 'Prompt-Light';
      color: $dark-grey;
      font-size: 14px;
      margin: 5px 0px;
      @media (max-width: $screen-xs-max) {
        font-size: 12px;
      }
    }

    .download-paper {
      margin-top: 20px;
      @media (max-width: $screen-xs-max) {
        display: block;
        margin: auto;
      }
      a {
        // padding: 10px;
        // background-color: white;
        // border-width: 2px;
        // border-color: $red;
        // margin-left: 10px;

        align-self: center;
        margin-top: 50px;
        padding: 10px 40px;
        background-color: transparent;
        border-radius: 30em;
        width: 250px;
        text-align: center;
        color: $red;
        font-family: 'Prompt-Light';
        border-color: $red;
        border-width: 2px;
        letter-spacing: 2px;
        transition: 0.2s;
        &:hover,
        &:focus {
          background-color: $red;
          color: white;
          font-family: 'Prompt';
        }
      }
    }
  }

  h6 {
    font-family: 'Prompt';
    margin-top: 10px;
    padding-top: 15px;
    color: $dark-grey;
    font-size: 20px;

    span {
      font-size: 14px;
      color: $red;
      font-family: 'Prompt-Light';
    }
  }
  p {
    padding-left: 10px;
    color: $grey;
    font-family: 'CSPraJad';
  }
  .upload-status {
    display: flex;
    flex-flow: row;
    margin: 20px 0px;

    .upload-status-name {
      padding-left: 20px;
      color: $grey;
      font-family: 'Prompt';
    }

    img {
      width: 20px;
      margin-left: 30px;
    }
  }
}

.upload-requirement {
  margin: 5%;
  padding: 45px;
  background-color: white;
  box-shadow: 3px 3px 3px $light-grey;

  h5 {
    font-family: 'Prompt';
    padding-top: 15px;
    padding-bottom: 10px;
    color: $dark-grey;
    font-size: 20px;
  }

  p {
    padding-left: 10px;
    color: $grey;
    font-family: 'CSPraJad';
    span {
      color: red;
    }
  }

  .ps {
    padding-left: 10px;
    color: $red;
    font-family: 'CSPraJad';
  }

  .upload-date {
    text-align: center;
    padding-top: 40px;
    font-size: 16px;
    font-family: 'Prompt-Medium';
    color: $dark-grey;
  }

  .upload-part {
    margin-top: 50px;

    .upload-piece {
      margin: 20px 0px;
    }

    .head {
      font-family: 'Prompt';
      color: $grey;
      font-size: 18px;
      margin: 5px 0px;
      @media (max-width: $screen-xs-max) {
        font-size: 12px;
      }
    }

    .detail {
      font-family: 'CSPraJad-Bold';
      font-size: 15px;
      margin-left: 20px;
      color: $red;
    }

    .file-upload {
      width: 30%;
      font-family: 'CSPraJad';
      margin-left: 60px;
      margin-top: 5px;
      margin-bottom: 30px;
    }

    h5 {
      font-family: 'CSPraJad-Bold';
      color: red;
      text-align: center;

      span {
        text-decoration: underline;
      }
    }
  }
}

.button-part {
  display: flex;
  flex-flow: column;
  margin-bottom: 16px;
  // @media (max-width: $screen-sm-max) {
  //   flex-flow: column;
  // }
  align-items: center;

  .register-btn:disabled,
  .register-btn[disabled] {
    opacity: 0.8;
    cursor: not-allowed;
    &:hover {
      background-color: $red;
      color: white;
      font-family: 'Montserrat';
    }
  }

  .register-btn {
    margin-top: 20px;
    padding: 10px 40px;
    background-color: $red;
    border-radius: 30em;
    color: white;
    font-family: 'Montserrat';
    border-color: $red;
    border-width: 2px;
    letter-spacing: 2px;
    transition: 0.2s;
    align-self: center;
    &:hover {
      background-color: white;
      color: $red;
      font-family: 'Montserrat-SemiBold';
    }
    &.confirm {
      opacity: 0.8;
      &:hover {
        background-color: $red;
        color: white;
        font-family: 'Montserrat';
      }
    }
  }
}
