.q-a-page {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: #f5f2f2;


    .title{
        padding-top: 70px;
        padding-bottom: 70px;
        background-color: $grey;
        width: 100%;
        h1{
            font-family: 'Montserrat-ExtraLight';
            //text-shadow: 2px 2px 2px $red;
            color: white;
            text-align: center;
        }
        p{
            font-family: 'Prompt-Light';
            color: $light-grey;
            text-align: center;
        }
    }

    .question{
        width: 70%;
        margin: 25px;
        padding: 40px;
        box-shadow: 3px 3px 3px $light-grey;
        background-color: white;

        .quest{
            font-family: 'Prompt-Medium';
            color: $red;
            font-size: 26px;
        }

        .ans{
            font-family: 'CSPraJad';
            margin-left: 20px;
            padding-top:10px;
            color: $dark-grey;
            font-size: 16px;
        }
        
    }
}

.info-container {
    background-color: $grey;
    display: flex;
    justify-content: space-around;
    min-height: 250px;
    width: 100%;
    margin-top: 30px;


  h3{
    margin-top: 50px;
    font-family: 'Prompt';
    color: white;
    font-size: 20px;
  }

  .moreinfo{
    margin-bottom: 10px;
    font-family: 'Prompt-Light';
    color: white;
    font-size: 14px;
  }

  .contact{
    font-size: 12px;
    margin-left: 15px;
    font-family: 'Prompt-Light';
    color: white;
  }

  img{
    width: 14px;
  }

  .facebook-pg{
    font-size: 12px;
    margin-left: 15px;
    font-family: 'Prompt-Light';
    color: white;
  }

  .facebook{
    display: flex;
    align-items: center;
  }

}
