.register-page {
  min-height: calc(100vh - 33px);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f2f2;

  h1 {
    color: white;
    font-family: 'Prompt-Light';
    @media (max-width: $screen-xs-max) {
      font-size: 30px;
      text-align: center;
    }
  }
  .logout-btn {
    margin: 20px;
    padding: 10px 40px;
    background-color: transparent;
    border-radius: 30em;
    color: $red;
    font-family: 'Prompt-Light';
    border-color: $red;
    border-width: 2px;
    letter-spacing: 2px;
    transition: 0.2s;
    &:hover {
      background-color: $red;
      color: white;
      font-family: 'Prompt';
    }
  }
}

.register-wait {
  height: calc(100vh - 33px);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  p {
    font-family: 'CSPraJad-Bold';
  }
}

.authenticating {
  min-height: calc(100vh - 33px);
  background-color: #f5f2f2;
  padding-top: 40px;
  p {
    font-family: 'CSPraJad-Bold';
    text-align: center;
  }
}

.connect-to-facebook {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 33px);
  width: 100%;
  background-color: $dark-grey;
  h1 {
    color: white;
    font-family: 'Prompt-Light';
    @media (max-width: $screen-xs-max) {
      font-size: 30px;
      text-align: center;
    }
  }
  .login-btn {
    margin: 10px 0;
    background-color: $fb;
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 5px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 0.2s;

    &.wait {
      opacity: 0.5;
      cursor: initial;
    }

    &:hover {
      background-color: darken($fb, 10%);
      transition-duration: 0.2s;
    }

    img {
      height: 20px;
      margin-right: 5px;
    }

    p {
      color: white;
    }
  }
}
