$dark-grey: #1f1f1f;
$grey: #4b4949;
$light-grey: #aeaeae;
$red: #b72d2d;
$light-red: #e5b8b8;

$fb: #3c5a99;

// START: Min Width
// @media (min-width: $screen-xs-min) {}
// @media (min-width: $screen-sm-min) {}
// @media (min-width: $screen-md-min) {}
// @media (min-width: $screen-lg-min) {}
// @media (min-width: $screen-xl-min) {}

// START: Max Width
// @media (max-width: $screen-vs-max) {}
// @media (max-width: $screen-xs-max) {}
// @media (max-width: $screen-sm-max) {}
// @media (max-width: $screen-md-max) {}
// @media (max-width: $screen-lg-max) {}

//== Media queries breakpoints
//

$screen-sm: 576px !default;
$screen-sm-min: $screen-sm !default;

$screen-md: 768px !default;
$screen-md-min: $screen-md !default;

$screen-lg: 992px !default;
$screen-lg-min: $screen-lg !default;

$screen-xl: 1200px !default;
$screen-xl-min: $screen-xl !default;

$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;
$screen-lg-max: ($screen-xl-min - 1) !default;
